.titulo{ 
    color: black;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border: 3px solid black;
}

.pinkfloyd{
    margin: auto;
    display: block;

}

.m1{
    font-size: 30px;
}

.m2{
    font-size: 30px;

}

.m3{
    font-size: 30px;
}

.m4{
    font-size: 30px;
}

.m5{
    font-size: 30px;
}

.m6{
    font-size: 30px;
}

.m7{
    font-size: 30px;
}

.m8{
    font-size: 30px;
}

.m9{
    font-size: 30px;
}

.m10{
    font-size: 30px;

}
